<!DOCTYPE html>
<html>
<head>
	<title>Receitas Fitness - Para uma vida saudável!</title>
	<meta charset="UTF-8">
	<meta name="description" content="Encontre aqui receitas saudáveis e deliciosas para manter uma alimentação fitness.">
	<meta name="keywords" content="receitas, fitness, alimentação saudável">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f7f7f7;
			color: #333;
			margin: 0;
			padding: 0;
        }
		</head>
        <body>
            <div class="container">
                <h1>Receitas Fitness</h1>
                <h2>Coma bem e se sinta bem!</h2>
                <p>Com a correria do dia a dia, muitas vezes acabamos optando por alimentos que não são tão saudáveis, mas que são práticos e rápidos. No entanto, manter uma alimentação saudável é essencial para ter uma vida mais equilibrada e feliz. Pensando nisso, reunimos aqui algumas receitas fitness deliciosas e fáceis de fazer. São opções para o café da manhã, almoço, jantar e até mesmo para os lanches, que vão ajudar você a manter uma dieta equilibrada e saudável.
                    
                </p>
            </body>
                </html>